<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello world!</title>
  </head>
  <body>
    <h1>Hallo there</h1>
    <div style="background-color: yellow">Cobain disini</div>
    <table>
        <tr>
            <th>Tanggal</th>
            <th>Status</th>
        </tr>
        {{#each games}}
        <tr>
            <td>{{this.tanggal}}</td>
            <td>{{this.status}}</td>
        </tr>
        {{/each}}
    </table>
  </body>
</html>
